In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pymongo import MongoClient
from pandas.io.json import json_normalize
import json
import warnings
warnings.filterwarnings('ignore')

In [3]:
client = MongoClient('localhost',27017)

In [4]:
client.list_database_names()

['admin', 'config', 'internship', 'local']

In [5]:
db = client.internship

In [6]:
collect_names = db.list_collection_names()
collect_names

['attempts', 'attemptdetails', 'nothing']

In [7]:
# users_df= json_normalize(list(db.users.find()))

In [11]:
#attempts_df= json_normalize(list(db.attempts.find()))
attempts_df = pd.DataFrame(list(db.attempts.find()))
attempts_df.head()

,__v,_id,attemptType,attemptdetails,createdAt,createdBy,email,idOffline,isAbandoned,isAnsync,...,totalCorrects,totalErrors,totalMark,totalMarkeds,totalMissed,totalQuestions,totalTime,updatedAt,user,userId
0,0,5b851ff7dd6c9c8cedb051d3,NaN,5b851ff7dd6c9c400eb051d4,2018-08-28 09:17:00.084,"{'user': 5b3e0266a14b7e000d9cc040, 'name': 'te...",None,None,False,True,...,25,9,25.0,0,21,55,3299999,2018-08-28 10:12:21.337,5b82922cdd6c9c2801b00f20,NaN
1,0,5b851ffdb0a5d1ad413d8301,NaN,5b851ffdb0a5d17a103d8302,2018-08-28 09:23:57.839,"{'user': 5b3e0266a14b7e000d9cc040, 'name': 'te...",None,None,False,True,...,35,20,35.0,0,0,55,2887958,2018-08-28 10:12:25.489,5b82922edd6c9c6e6db00fb0,NaN
2,0,5b852003b0a5d136aa3d8371,NaN,5b852003b0a5d190863d8372,2018-08-28 09:17:11.950,"{'user': 5b3e0266a14b7e000d9cc040, 'name': 'te...",None,None,False,True,...,31,24,31.0,0,0,55,3300006,2018-08-28 10:12:39.239,5b829227dd6c9c4c7fb00da0,NaN
3,0,5b852014b0a5d10fc33d83e4,NaN,5b852014b0a5d11fd13d83e5,2018-08-28 09:17:28.725,"{'user': 5b3e0266a14b7e000d9cc040, 'name': 'te...",None,None,False,True,...,29,15,29.0,0,11,55,3300049,2018-08-28 10:12:59.708,5b82922add6c9c5f61b00e6a,NaN
4,0,5b852015b0a5d12bd43d8449,NaN,5b852015b0a5d1489b3d844a,2018-08-28 09:19:15.949,"{'user': 5b3e0266a14b7e000d9cc040, 'name': 'te...",None,None,False,True,...,26,18,26.0,0,11,55,3194523,2018-08-28 10:13:52.089,5b829229dd6c9c8524b00e5a,NaN